[run]
source = app
omit =
    app/*/migrations/*
    alembic/*
    tests/*
    scripts/*
    */conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if TYPE_CHECKING:
    raise NotImplementedError
    pass
    \.\.\.

show_missing = true
precision = 2

[html]
directory = reports/coverage
